/*
Template CSS :  Calypso;
Version :       1.0;
Author :        workbythai;
*/

/*
* FONT-FACE...........1
* Genaral.............2
* Page ...............3
* Footer..............4
* Responsive..........5
*/


/*------------------------------------*
$FONTFACE
*------------------------------------*/

@font-face {
    font-family: 'kanitbold';
    src: url('../fonts/kanit/kanit-bold-webfont.woff2') format('woff2'),
         url('../fonts/kanit/kanit-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kanitlight';
    src: url('../fonts/kanit/kanit-light-webfont.woff2') format('woff2'),
         url('../fonts/kanit/kanit-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kanitmedium';
    src: url('../fonts/kanit/kanit-medium-webfont.woff2') format('woff2'),
         url('../fonts/kanit/kanit-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kanitregular';
    src: url('../fonts/kanit/kanit-regular-webfont.woff2') format('woff2'),
         url('../fonts/kanit/kanit-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*------------------------------------*
Genaral
*------------------------------------*/
body{
    font-family: kanit;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    height: auto;
    margin: 0; 
    color: #ffffff;
    background-color: #1C1227;
    background-image: url('../images/Banner/footer-img.png');
    background-repeat: no-repeat;
    background-position: bottom;
}
.wrapper {
    min-height: calc(100vh - 315px);
}

/*----------------- Font -----------------*/

.font-white{
    color: #ffffff!important;
}

/*-------------- Background --------------*/
.bg-purple{
    background-color: #2C1D3A!important;
}
.bg-dark-purple{
    background-color: #1C1227!important;
}
.bg-white{
    background-color: #ffffff!important;
}
.bg-bottom-linear{
    background: linear-gradient(rgb(28, 17, 40), rgba(36, 24, 52, 0))!important;
}
/*--------------- Form -------------------*/
a.btn-cal:hover{
    color: #e0e0e0;
    text-decoration: none;
}
.btn-cal{
    color: #fff;
    background-color: #17252A;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: unset;
    cursor: pointer;
    border: 2px solid transparent;
    border-image: linear-gradient(90deg, #E71270,#DF3529, #14BFF0);
    border-image-slice: 1;
}
.btn-cal-sm{
    padding: .25rem 1.25rem;
    font-size: 1rem;
}
.btn-cal-md{
    padding: .65rem 1.5rem;
    font-size: 1.2rem;
}
.btn-cal-lg{
    padding: 1rem 2rem;
    font-size: 1.25rem;
}
.cal-form{
    padding: 10px 0px 10px 15px;
    border-radius: unset;
}
/*----------------- Navbar ----------------*/
.navbar-frame{
    width: auto;
    height: 80px;
}
.navbar-logo{
    height: 100%;
}
.nav-upper{
    background-color: #1C1227;
    color: #fff;
}
.nav-upper ul{
    list-style: none;
    display: inline-flex;
}
.nav-upper ul li{
    padding: 15px 7px;
}
.nav-upper ul li a{
    color: #fff;
}
.img-flag-icon{
    width: 20px;
    height: auto;
}
.navbar .navbar-nav .nav-item a{
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 25px;
    padding-right: 25px;
    border: 2px solid transparent;
    transition: all 0.5s;
}
.navbar .navbar-nav .nav-item a:hover{
    border: 2px solid transparent;
    border-image: linear-gradient(90deg, #E71270,#DF3529, #14BFF0);
    border-image-slice: 1;
    transition: all 0.5s;
}
.navbar .navbar-nav .nav-item a.active{
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 25px;
    padding-right: 25px;
    border: 2px solid transparent;
    border-image: linear-gradient(90deg, #E71270,#DF3529, #14BFF0);
    border-image-slice: 1;
}
.navbar .navbar-nav .nav-items{
    position: relative;
    height: 64px;
    width: 115px;
}
.navbar .navbar-nav .nav-items a{
    position: absolute;
    width: 115px;
    height: auto;
    bottom: -5px;
}
.nav-item{
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
}
.dropdown-menu{
    border: unset;
    border-radius: unset;
    box-shadow: 2px 0px 6px 1px rgba(161, 161, 161, 0.3);
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}
.navbar-toggler {
    padding: .65rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 2px solid transparent;
    border-image: linear-gradient(90deg, #E71270,#DF3529, #14BFF0);
    border-image-slice: 1;
    border-radius: .25rem;
}
/*------------------- Card ----------------------*/
.card-box{
    width: 100%;
    height: auto;
    background-color: rgba(45, 29, 58, 0.85);
    color: #ffffff;
}
.card-box-header{
    border-bottom: 1px solid #F2F2F2;
    padding: 10px;
}
.card-box-title{
    padding: 10px 10px 10px 15px;
}
.card-box-content{
    margin: 15px;
    padding: 10px;
}
/*-- Small Card --*/
.sm-card{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #1C1227;
    background-clip: border-box;
    border: 2px solid transparent;
    border-image: linear-gradient(90deg, #E71270,#DF3529, #14BFF0);
    border-image-slice: 1;
    border-radius: 0rem;
}
.sm-card-body{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: .75rem;
}
.sm-card-img{
    width: 100%;
    height: 150px;
    position: relative;
    overflow: hidden;
    /*padding: 2px;*/
/*    width: 100%;
    height: 150px;*/
}
.sm-card-img-top{
    position: absolute;
    width: auto!important;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
/*    float: left;
    width: 100%;
    height: 100%;
    object-fit: cover;*/
}
.sm-card-text{
    color: #ffffff;
    font-weight: 400;
    margin-bottom: .25rem;
    font-size: .95rem;
    max-height: 45px;
    overflow: hidden;
}
.sm-card-content{
    font-size: 14px;
    max-height: 68px;
    overflow: hidden;
}
/*-------------------- Header Text --------------------*/
.header-text-box{
    width: max-content;
    border: 2px solid transparent;
    border-image: linear-gradient(90deg, #E71270,#DF3529, #14BFF0);
    border-image-slice: 1;
}
.header-text-box .text-box-detail{
    padding: 15px;
    font-size: 1.25rem;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 0px;
}

/*-------------------- Line (HR) --------------------*/
.line-title{
    background: -webkit-linear-gradient(90deg, #E71270,#DF3529, #14BFF0); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, #E71270,#DF3529, #14BFF0); /* For Opera 11.1 to 12.0 */ 
    background: -moz-linear-gradient(90deg, #E71270,#DF3529, #14BFF0); /* For Firefox 3.6 to 15 */ 
    background: linear-gradient(90deg, #E71270,#DF3529, #14BFF0); /* Standard syntax */ 
    margin-bottom: 15px;
}
.line-title-h2 {
    height: 2px;
}
.line-title-h3 {
    height: 3px;
}
.line-title-h4 {
    height: 4px;  
}
.line-title-w100{
    width: 100px;
}
.line-title-w200{
    width: 200px;
}
.line-title-w300{
    width: 300px;
}

/*---------------------- Pagination -----------------------*/
.page-link {
    position: relative;
    display: block;
    padding: .65rem 1rem;
    margin-left: 0px;
    line-height: 1.25;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid transparent;
}
.page-link:hover {
    color: #f8f9fa;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid transparent;
    border-image: linear-gradient(90deg, #E71270,#DF3529, #14BFF0);
    border-image-slice: 1;
}
.page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(28, 17, 41, 0.5);
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: transparent;
    border: 2px solid transparent;
    border-image: linear-gradient(90deg, #E71270,#DF3529, #14BFF0);
    border-image-slice: 1;
}
.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
}
.page-item:last-child .page-link {
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
}
.page-item.disabled .page-link {
    color: #90949c;
    pointer-events: none;
    cursor: auto;
    background-color: rgba(28, 17, 41, 0.50);
    border-color: rgba(28, 17, 41, 0.50);
}
/*------------------ Owl Carousel -------------------*/
.owl-nav{
    position: absolute;
    width: 100%;
    top: 50%;
    display: inline-flex;
}
/*---------------- Social Icon --------------------*/
.icon-bar {
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 500;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 7px 10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 22px;
  margin-bottom: 2px;
}

.icon-bar a:hover {
    background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.line {
  background: #3AAE37;
  color: white;
}

.wechat {
  background: #78D035;
  color: white;
}

.youtube {
  background: #CB202E;
  color: white;
}

.instagram {
  background: #EC2758;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}

/*------------------------------------*
End Genaral
*------------------------------------*/

section{
    padding: 60px 15px;
}
.text-top-title{
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#E83E39,#F28F3F,#FFF23A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.package-card{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #1C1227;
    background-clip: border-box;
    border: 1px solid #1c1228;
    border-radius: 0rem;
}
.package-card-body{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
/*    height: 80px;
    overflow: hidden;*/
}
.package-card-img{
    position: relative;
    overflow: hidden;
    padding: 2px;
    width: 100%;
    height: 250px;
}
.package-card-img-top{
    position: absolute;
    width: auto!important;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.package-card-text{
    color: #ffffff;
    font-weight: 400;
    margin-bottom: .25rem;
    height: 48px;
    overflow: hidden;
}

/*------------------------------------*
Page Index
*------------------------------------*/

/*-------------------- Slider ------------------*/
.carousel-item_size{
    width: 100%;
    height: 750px;
}
.slide-item{
    /*float: left;*/
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide-box{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.56);
    color: #ffffff;
    width: 450px;
    padding: 30px;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

/* Reset Select */
select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 10px);
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
/* Custom Select */
.select {
    position: relative;
    line-height: 2.5;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #fff;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #2B1C3A;
    pointer-events: none;
    z-index: 99;
}
.form-booking .has-form{
    padding: 10px 0px 10px 40px;
}
.form-booking i{
    position: absolute;
    padding: 16px 8px;
    color: #6c757d;
    z-index: 20;
}
.form-booking select.form-control, .form-booking input.form-control{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#myform {
    text-align: center;
    padding: 5px;
    border: 1px dotted #ccc;
    margin: 2%;
}
.qty {
    width: 40px;
    /*height: 25px;*/
    text-align: center;
}
.form-booking .has-form2{
    padding: 10px 0px 10px 0px;
}
input.qtyplus { 
    width: 46px; 
    background-color: #2B1C3A;
    color: #ffffff;
    border: unset;
    cursor: pointer;
    /*height: 25px;*/
}
input.qtyminus { 
    width: 46px; 
    background-color: #2B1C3A;
    color: #ffffff;
    border: unset;
    cursor: pointer;
    /*height:25px;*/
}

/*-- SECTION PACKAGE--*/
.section-package{
    background-color: #281A36;
}
.top-title{
    width: 200px;
    height: auto;
}
.top-title-img{
    width: 100%;
}
.text-top-excerpt{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
/*-- SECTION GALLERY --*/
.section-gallery{
    background-color: #2C1D3A;
}
.show-gall-horizontal{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.show-gall-horizontal img{
    position:absolute;
    width:auto;
    height:100%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.show-gall-vertical{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.show-gall-vertical img{
    position: absolute;
    width: auto;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*-- SECTION HOT SHOW --*/
.section-hotshow{
    background-color: #1c1129;
}
.card-hotshow{
    position: relative;
    background-color: #2d1d3a;
    padding: 45px 25px 20px;
    border: 1px solid #90949c;
}
.img-hotshow{
    width: 100%;
    height: 428px;
    position: relative;
    overflow: hidden;
    border: 4px solid #ececec;
}
.img-hotshow img{
    position:absolute;
    width:auto;
    height:100%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    /*float: left;
    width: 100%;
    height: 100%;
    object-fit: cover;*/
}
.feather-left{
    position: absolute;
    width: 215px;
    top: -25px;
    left: 75px;
    transform: translate(-50%, -50%);
}
.feather-right{
    position: absolute;
    width: 185px;
    right: 0;
    z-index: 20;
}
/*.feather-right img{
    position: absolute;
}*/

/*-- SECTION NEWS --*/
.section-news{
    background-color: #2C1D3A;
}

/*-- SECTION CONTACT --*/
.section-contact{
    background: linear-gradient(#1c1128, #24183400);
}
.contact-box{
    border: 2px solid transparent;
    border-image: linear-gradient(90deg, #E71270,#DF3529, #14BFF0);
    border-image-slice: 1;
    background-color: #17252A;
    padding: 30px;
    color: #ffffff;
}
.cal-capcha{
    width: 60%;
}


/*------------------------------------*
End Page Index
*------------------------------------*/

/*------------------------------------*
Start Page News
*------------------------------------*/
.news_title{
    margin-top: 7px;
    margin-bottom: 15px;
    max-height: 50px;
    overflow: hidden;
}
.news_title small{
    color: #a2a2a2;
}
.frame-img-news{
    width: 100%;
    height: 360px;
    position: relative;
    overflow: hidden;
}
.frame-img-news img{
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.news-content-bottom{
    padding-top: 30px;
    padding-bottom: 30px;
}
/*------------------------------------*
End Page News
*------------------------------------*/


/*------------------------------------*
Footer
*------------------------------------*/
.space-footer{
    height: 50vh;
}
footer{
    color: #fff;
    padding-top: 28rem;
/*    background-image: url(../images/Banner/footer-img.png);
    background-size: cover;
    background-repeat: no-repeat;*/
     /*background-attachment: fixed; */
    /*background-position: center bottom;*/
}
.footer-container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.footer .about-excerpt{
    padding-left: 20px;
    padding-right: 20px;
}
.footer-top{
    padding: 30px 0px;
    font-weight: 300;
}
.footer-bottom{
    background-color: #10181E;
    font-weight: 300;
    border-top: 3px solid transparent;
    border-image: linear-gradient(90deg, #E71270,#DF3529, #14BFF0);
    border-image-slice: 1;
}
.footer-logo-frame{
    width: auto;
    height: 65px;
}
.ft-menu {
    list-style: none;
}
.ft-menu a{
    color: #fff;
}
.ft-secure{
    width: 100px;
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.ft-secure-img{
    width: 100%;
}
ul.ft-payment{
    display: inline-flex;
    list-style: none;
    padding-left: 0px;
}
.ft-item-payment{
    padding-right: 10px;
}
.ft-cradit{
    width: 46px;
    height: auto;
}
.ft-copy-right{
    margin-top: 15px;
    margin-bottom: 15px;
}
/* footer input */
.ft-input-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    /*width: 100%;*/
    width: 355px;
}
.ft-input-group>.ft-form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.ft-input-group>.ft-form-control {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
.ft-form-control {
    display: block;
    width: 100%;
    padding: .375rem .95rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #818182;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 20px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.ft-input-group>.ft-input-group-append>.btn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn-ft-email {
    color: #f8f9fa;
    background-color: #EC2758;
    background-image: none;
    border-color: #EC2758;
    border-radius: 20px;
}
/*------------------------------------*
End Footer
*------------------------------------*/

/*------------------------------------*
Responsive
*------------------------------------*/
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    body{
        background-size: inherit;
    }
    .owl-prev{
    transform: translate(-45%, -50%);
    }
    .owl-next{
        transform: translate(45%, -50%);
        margin-left: auto;
    }
/*-- Social --*/
    .icon-bar{
        display: none;
    }
/*-- Feather --*/
    .feather-left{
        display: none;
    }
    .feather-right{
        display: none;
    }
/*-- Slide --*/
    .slide-box{
        left: 50%;
        width: 315px;
        padding: 20px 15px;
    }
/*-- Index --*/
    section {
        padding: 40px 0px;
    }
    .contact-box{
        padding: 7px;
    }
    .contact-fb-fanpage iframe{
        width: 265px;
        overflow: hidden;
    }
    .show-gall-horizontal {
        height: 135px;
    }
    .img-hotshow{
        height: 315px;
    }

    /*-- News --*/
    .frame-img-news{
        height: 236px;
    }
/*-- Footer --*/
    footer{
        padding-top: 20rem;
    }
    .ft-secure {
        width: 80px;
        height: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .ft-item-payment {
        padding-right: 6px;
    }
    .ft-cradit {
        width: 40px;
    }
    .ft-input-group{
        width: 290px;
    }
    .footer-top {
        font-size: 14px;
    }
    .ft-menu {
        padding-left: 20px;
    }
}
/*=Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    body{
        background-size: inherit;
    }
    .owl-prev{
    transform: translate(-80%, -50%);
    }
    .owl-next{
        transform: translate(80%, -50%);
        margin-left: auto;
    }
/*-- Slide --*/
    .slide-box{
        left: 50%;
    }
/*-- Index --*/
    .show-gall-horizontal {
        height: 135px;
    }
    .feather-right {
        top: -20px;
        transform: translate(12%, -50%);
    }

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .owl-prev{
    transform: translate(-110%, -50%);
    }
    .owl-next{
        transform: translate(110%, -50%);
        margin-left: auto;
    }
/*-- Social --*/
    
/*-- Index --*/
    .text-top-excerpt {
        width: 75%;
    }
    .contact-fb-fanpage iframe{
        width: 270px;
        overflow: hidden;
    }  
    .show-gall-horizontal {
        height: 240px;
    }
    .feather-right {
        top: -20px;
        transform: translate(12%, -50%);
    }
    .img-hotshow{
        height: 470px;
    }
/*-- News --*/
    .frame-img-news {
        height: 220px;
    }
/*-- Footer --*/
    .ft-menu {
        padding-left: 15px;
        padding-right: 0px;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    body{
        background-size: inherit;
    }
    .owl-prev{
    transform: translate(-135%, -50%);
    }
    .owl-next{
        transform: translate(135%, -50%);
        margin-left: auto;
    }

/*--Navbar --*/
    .navbar .navbar-nav .nav-item a{
        padding-left: 15px;
        padding-right: 15px;
    }
/*-- Index --*/
    .text-top-excerpt {
        width: 50%;
    }
    .slide-box{
        left: 30%;
    }
    .show-gall-horizontal {
        height: 160px;
    }
/*-- News --*/
    .frame-img-news {
         height: 295px; 
    }
/*-- Footer --*/
    footer{
        padding-top: 10rem;
    }
    .footer-container{
        max-width: 785px;
    }

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
/*-- Navbar --*/
    .navbar .navbar-nav .nav-item a{
        padding-left: 15px;
        padding-right: 15px;
    }
/*-- Social --*/
    
/*-- Index --*/
    .contact-fb-fanpage iframe{
        width: 340px;
        overflow: hidden;
    }
    .show-gall-horizontal {
        height: 200px;
    }
    .feather-right {
        top: -20px;
        transform: translate(24%, -50%);
    }
    .img-hotshow{
        height: 428px;
    }
/*-- News --*/
    .frame-img-news {
         height: 360px; 
    }
/*-- Footer --*/
    footer{
        padding-top: 36rem;
    }
    .footer-container{
        max-width: 1150px;
    }
}

@media (min-width: 1600px) {
/*-- Footer --*/
    .footer-container{
        max-width: 1550px;
    }
}