/*
Template CSS :  Calypso;
Version :       1.0;
*/


/*------------------------------------*
$GENERAL
*------------------------------------*/

.breadcrumb-item+.breadcrumb-item::before {
    content: ">" !important;
}

.breadcrumb-item.active {
    color: #eab34c;
}

.breadcrumb {
    background-color: unset;
}

.breadcrumb a{
  color:grey;
}

.breadcrumb a:hover{
  color:white;
  text-decoration: none;
}

.text-red{
  color:red;
}

.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url(../../assets/images/img-icon/option.png) no-repeat right center;
    background-size: 35px 100%;
    border: 1px solid #999 !important;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.text-top-title {
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    background: unset;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #312240;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 4px solid white;
}

.credit-card-input::after{
  content:"test";
}

.input-group-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: .25rem;
}


.text-none{
  color:transparent;
  pointer-events: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}


[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
    margin-left: unset !important;
}

/*------------------------------------*
$END GENERAL
*------------------------------------*/


/*------------------------------------*
$BOOKING
*------------------------------------*/
.bg-page-booking{
  width:100%;
  height:auto;
  position:relative;
  /* background-image: url('../images/01.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}


.bg-page-booking::after{
  content: '';
  background-image: url(../images/01.jpg);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.booking-top-section{
  padding-bottom: 20px;
}
.booking-slide-section{

}

.card-box-header .icon-group{
  padding: 2px 10px 10px 15px;
}

.card-box-header .icon-group a{
  color:white;
}

.card-box-header .icon-group a:hover{
  color:white;
}

.details-text-editor{
  font-family: kanit !important;
  font-weight: 300 !important;
  color:white !important;
}

.cc-gallery{
  margin-top: 2vmin;
}

.gal-img{
  width:100%;
  position:relative;
  overflow:hidden;
}

.gal-img img{
  width:100%;
  height:auto;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.ribbon {
  height: 30px;
  font-size: 14px;
  font-weight: 400;
  width: auto;
  display: inline-block;
  margin-top: 5px;
/*position: absolute;
  left: 0;*/
  color: #FFF;
  line-height: 30px;
  padding: 0px 10px;
  top: 0;
  z-index: 5;
}
.red-ribbon {
  background: #d60000;
}
.orange-ribbon {
  background: #e36a03;
}

.sale_price{
  margin-bottom: 2px;
}
.normal_price{
  font-size: 12px;
  margin-bottom: 0px;
  text-align: right;
  color: #8f8f8f;
  text-decoration: line-through;
}

.form-date{
  position: relative;
}
.form-date input{
  padding-left: 28px;
}
.form-date i {
  position: absolute;
  bottom: 0;
  padding: 12px 8px;
  color: #6c757d;
  z-index: 20;
}

.form-count input.qtyminus{
    width: 38px;
    background-color: #2B1C3A;
    color: #ffffff;
    border: 1px solid #999;
    cursor: pointer;
    height: auto;
}

.form-count input.qtyplus {
    width: 38px;
    background-color: #2B1C3A;
    color: #ffffff;
    border: 1px solid #999;
    cursor: pointer;
    height: auto;
}



/*------------------------------------*
$END BOOKING
*------------------------------------*/




/*------------------------------------*
$Payment
*------------------------------------*/

.payment-box-title {
  margin-bottom: 25px;
}

.half-form{
  width:45%;
}

.icon-group{
  font-size: 12px;
}

.policy{
  text-decoration: underline;
  color:white;
}

.policy:hover{
  text-decoration: underline;
  color:white;
}

.sum-price{
  font-size: 24px;
  color:#ffc14f;
}

/*------------------------------------*
$END Payment
*------------------------------------*/



/*------------------------------------*
Responsive
*------------------------------------*/
@media (min-width: 300px) {

  /*------------------------------------*
  $GENERAL 300px
  *------------------------------------*/
  .form-control::-webkit-input-placeholder { /* WebKit browsers */
        color: transparent;
    }
    .form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color: transparent;
    }
    .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
       color: transparent;
    }
   .form-control :-ms-input-placeholder { /* Internet Explorer 10+ */
       color: transparent;
    }


  /*------------------------------------*
  $END GENERAL 300px
  *------------------------------------*/
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .show-ribbon{
      position: relative;
      margin-left: 10px;
    }
    .show-ribbon .ribbon{
      position: absolute;
      left: 0;
    } 
}

@media (min-width: 576px) {
 
}

@media (min-width: 768px) {

  .summary-section-desktop{
    display:none !important;
  }

  .summary-section-mobile{
    display:block !important;
  }

}

@media (min-width: 992px) {

  /*------------------------------------*
  $GENERAL 768px
  *------------------------------------*/
  .form-control::-webkit-input-placeholder { /* WebKit browsers */
        color: unset;
    }
    .form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color: unset;
    }
    .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
       color: unset;
    }
   .form-control :-ms-input-placeholder { /* Internet Explorer 10+ */
       color: unset;
    }

  /*------------------------------------*
  $END GENERAL 768px
  *------------------------------------*/

  .summary-section-desktop{
    display:none !important;
  }

  .summary-section-mobile{
    display:block !important;
  }

}

@media (min-width: 1200px) {

  /*------------------------------------*
  $GENERAL 768px
  *------------------------------------*/
  .form-control::-webkit-input-placeholder { /* WebKit browsers */
      color: inherit;
    }
    .form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color: inherit;
    }
    .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
       color: inherit;
    }
   .form-control :-ms-input-placeholder { /* Internet Explorer 10+ */
       color: inherit;
    }
    /*------------------------------------*
    $END GENERAL 768px
    *------------------------------------*/

    .summary-section-desktop{
      display:block !important;
    }

    .summary-section-mobile{
      display:none !important;
    }

}

@media (min-width: 1600px) {

}
