


/*---------faq--------------*/
.section-hotshow-41 {
    height: 180vh;
}
/*---------faq end----------*/

/*----------about-thai------*/
.about-fix-img{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 90vh;
}
.about-img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.section-hotshow-40 {
    height: 180vh;
}

.section-gallery-01{
    background-color: #2C1D3A;
}
.about-line-h{
      line-height: 10px;
}
.section-hotshow-a-01{
    background-color: #1c1129;
}
.about-fix-img-11{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 440px;

}
.about-img-11{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.about-color{
      color: #6d6d6d;
      font-size: 11px;
}
.about-color-1{
      color: #6d6d6d;

}

.section-hotshow-78 {
    height: 120vh;
}
.about-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 80vh;
}

/*----------about-thai end------*/








/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  /*-----------faq-----------*/
  .faq-font{
    font-size: 18px;
  }
  .faq-font-1{
    font-size: 16px;
  }
  .faq-font-2{
    font-size: 14px;
  }


  /*-----------faq and-------*/


  /*-----------about-thai----------*/
  .about-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 35vh;
}
.about-fix-img-11 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 193px;
}
.font-size-re{
      font-size: small;
}
.font-line-12{
  font-size: 14px;
    line-height: 22px;
  }

  /*-----------about-thai----------*/



}
/*=Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {


}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .about-fix-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 49vh;
}
.about-line-h {
    line-height: 22px;
}

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {


}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .about-fix-img {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 80vh;
  }
}

@media (min-width: 1600px) {
  .about-fix-img {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 80vh;
  }
}
